.NavBarItems {
    width: 100%;
    display: flex;
    background-color: #2a2a72;
   justify-content: space-between;
    
}

.navbar-logo {
    display: flex;
    padding: 16px;
    color: #ffa400;
}

.Links-block {
    padding: 16px;
    
    

}

span {
    color:#ffa400;
}

.links {
    padding: 4px;
}

.search-bar {
    display: flex;
    align-items: center;
    
}

input {
    width: 260px;
}