#login {
    display: flex;
    flex-direction: row;
    padding-left: 15%;
    padding-top: 15px;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 50vh;
}

.register {
    background-color: blue;
    border-radius: 6px;
   
}

form {
    background-color: #2a2a72;
     height: 60vh;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

}
input {
   padding: 2px 5px 5px 2px;
   width: 90%;
   align-items: center;
   margin: 5px;
}

