body{
  
  font-family:'Oswald', sans-serif !important; 
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.cart-item-cards {
    background-color:#2a2a72;
    color: #ffa400;
    width: 75%;
    /* flex-shrink: 2; */
    margin-left: 12.5%;
    margin-right: 12.5%;
    border-radius: 2px;

}

.individual-cards {
    background-color:#2a2a72;
    color: #ffa400;
    width: 75%;
    /* flex-shrink: 2; */
    margin-left: 12.5%;
    margin-right: 12.5%;
    border-radius: 2px;

}

.cart-status {
  margin-top: 48px;
}

.title-info {
  display: flex;
  justify-content: center;
  font-size: 64px;
  color: #ffa400;
  margin-top: 24px;
}